* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
  }

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a {
    cursor: pointer;
}

/*Navbar*/

.navbar {
    /* top: 0; */
    /* width: 100%; */
    background: #13191d;
    padding: 20px 0 !important;
    z-index: 99;
    text-align: right;

}



.navbar-brand img{
    width: 50%;
    margin-right: 60px;
    
/* position: absolute; */
    /* position: relative; */
    /* float: left; */
}

/* .navLogo img{
    width: 15%;
    position: relative;
    float: left;
} */

/* .navMenu {
    text-align: right;
} */

.navbar-nav a{
    color: #ffffff !important;
    padding-right: 0rem;
    margin-right: 10px;
    margin-left: 50px;
    font-size: 14px;

}



/* /* .navbar-nav ul li{
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px; */


/* } */ 

.navbar-nav ul li a{
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
   


}

.collapse a{
    display: flex;
    align-items: flex-end;
}
    

/*Header*/

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #13191d;
	padding: 15px 0;
	z-index: 99;
}


.carousel-item{
    /* margin-top: px; */
    /* text-align: center;
    /* height: 500px; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif; */ 
    width: 100%;

}

/*Ecossistema*/

.ecossistema {
	background-image: url(../Assets/img/02.png);
    padding: 67px;
	background-size: cover;
	text-align: center;

}

.ecossistemaTitulo{
	font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    color: #ffffff;


}

#ecossistemaTransparente {
	margin: 0;
    text-align: center;
    -webkit-text-stroke: 0.0625rem white;
    font-weight: 800;
    opacity:0.45;
    -moz-opacity: 0.45;
    filter: alpha(opacity=45);
    font-weight: 800;
    line-height: 0.1875rem;
    opacity: 0.45;
	font-size: 3.125rem;
	text-transform: uppercase;
	
}
.ecossistemaTexto{
	margin:0 auto;
	margin-top: 50px;
	max-width: 25em;
	font-style:italic;
	color: #ffff;

}

#divisor-ecossistema{
    background-color: #00cf65;
    width: 8.5vw;
    padding: 0.0625rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2.625rem auto 2.625rem auto;
   
}


/*Section diagrama*/

.diagrama{
    padding: 6% ;
    background-image: url(../Assets/img/03.png);
    background-position: fixed;
    background-size: cover;
    text-align: center;
}
.diagrama-img{
    align-items: center;
    width: 100%;
    max-width: 56.25rem;
}

/*Section foguete*/

.foguete{
    background-image: url(../Assets/img/04.png);
    background-size: cover;
    text-align: center;
    margin-bottom: 0; 
    padding-bottom: 5%; 
}

.textos-beneficios{
    padding-top: 5%;
    width: 40%;
    text-align: left;
    margin-right: auto;
}

.beneficios-titulo{
    font-weight: 700;
    word-spacing: 0;
    line-height: 1.875rem;
}

.beneficios-texto{
    width: 65%;
}

#divisor-beneficios{
    background-color: #00cf65;
    width: 8.5vw;
    padding: 0.0625rem;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-top: 1.063rem auto 3.25rem auto;
}

#tech{
    color:  #00cf65;
}

.beneficios-paragrafos p{
    line-height: 1.125rem;
    font-weight: 600;
}

/* Section com a balança de fundo */

.startup {
    background-image: url('../Assets/img/05.png');  
    background-size: contain;
    background-position: left;
    background-repeat: round;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color:#ffffff;
}

.startup-img {
    width: 50%;
}

.startup-img img {
    width: 100%;
    max-width: 56.25rem;
}

.startup-conteudo {
    width: 40%;
    text-align: right;
    margin-left: auto;
}

.startup-texto {
    width: 65%;
}

.startup-itens {
    width: 65%;
}

.startup-itens p {
    line-height: 1.125rem;
    font-weight: 600;
}

.startup-texto--titulo {
    font-weight: 700;
    word-spacing: 0;
    line-height: 1.875rem;
}

.linha-lateral {
    background-color: #00cf65;
    max-width: 8.5vw;
    padding: 0.0625rem;
    margin: 1.875rem 0 1.875rem auto;
} 


/* Section com os textos de inovação e os icones bonitinhos */

.inovacao {
    background-image: url('../Assets/img/06.png');  
    background-size: cover;
    min-height: 70vh;
    background-position: round;
    background-repeat: no-repeat;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.inovacao p {
    text-align: center;
}

.inovacao-texto--branco {
    margin: 0;
    color: #ffffff;
}

.inovacao-texto--transparante  {
    margin: 0;
    font-weight: 800;
    line-height: 1.875rem;
    opacity:0.45;
    -moz-opacity: 0.45;
    filter: alpha(opacity=45);
    -webkit-text-stroke: 0.0625rem white;
}

.linha-central {
    background-color: #00cf65;
    width: 8.5vw;
    padding: 0.0625rem; 
    margin-top: 1.875rem;
}

.inovacao-icones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.inovacao-icones img {
    width: 100%;
    max-width: 5vw;
    margin:  3.125rem 0.75rem 0 0.75rem;
    -webkit-transition: margin-top 0.5s;
    -moz-transition: margin-top 0.5s;
    transition: margin-top 0.5s
}

.inovacao-icones img:hover {
    margin-top:  1.25rem;
}


/* Section do mindset de inovação */

.mindset {
    background-image: url('../Assets/img/07.png');  
    background-size: cover;
    min-height: 130vh;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.mindset-texto--branco {
    margin: 0;
    color: #ffffff;
    padding-top: 6.25rem;
}

.mindset-texto--transparente {
    margin: 0;
    -webkit-text-stroke: 0.0625rem white;
    font-weight: 800;
    line-height: 1.875rem;
    opacity:0.45;
    -moz-opacity: 0.45;
    filter: alpha(opacity=45);
}

.mindset-img {
    margin-top: 6.25rem;
    padding: 2.5rem;
}

.mindset-img img {
    width: 100%;
    max-width: 56.25rem;
}

/*Section torne-se um parceiro*/

#parceiros , #fale_conosco {
    padding-top:8%; 
    padding-bottom:2%;
}

#equipe{
    padding-top: 6%;
    padding-bottom: 4%;
}

.parceiro{
    background-image: url(../Assets/img/08.png)
}
.parceiro-titulo{
    color:#00cf65;
}
.parceiro__informações{
    margin-top: 10%; 
}

.parceiro-texto, .equipe-texto, .contato-texto{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    color: #ffffff;
}
#parceiro-transparente, #equipe-s, #contato-s{
    margin: 0;
    text-align: center;
    -webkit-text-stroke: 0.0625rem white;
    font-weight: 800;
    opacity:0.45;
    -moz-opacity: 0.45;
    filter: alpha(opacity=45);
    font-weight: 800;
    line-height: 0.1875rem;
    opacity: 0.45;
    font-size: 3.125rem;
}

#caixa-form{
    border-radius: 1.25rem 0 0 1.25rem;
    margin-right: 0;
}
#botao-form{
    background-color: #00cf65;
    border: none;
    color: #ffffff;
    border-radius: 0 1.25rem 1.25rem 0;
    margin-left: 0;
    height: 2.375rem;
    width:  6.25rem;
}

#botao-form:hover {
    background-color: #67eea8;
}

.alinharBotao {
    display: flex;
}

.newsletter {
    width: 100%;
}

#divisor_parceiro , #divisor_contato, #divisor-equipe{
    background-color: #00cf65;
    width: 8.5vw;
    padding: 0.0625rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2.625rem auto 2.625rem auto;
}

.divisor {
    width:3.75rem; 
    height:0.625rem;
    color: #00cf65; 
}

#contato__informacao{
    width: 61%;
    text-align: center;
    color: #ffffff;
}
#btn-verde{
    border:none;
    background-color: #00cf65;
    border: none;
    color: #ffffff;
    width: 20%;     
}

#btn-verde:hover{
    background-color: #67eea8;
}
.etiqueta{
    color: #586f7a
}
form input {
    color:#586f7a;
}

/*Section equipe*/
.equipe {
    width: 100%;
    height: 100%; 
    background-image: url('../Assets/img/09.png')
}

.texto-grande{
    font-weight: bold;
    text-transform: uppercase;
    font-size:18px;
    margin: 0;
    text-align: center;
}
.texto-pequeno{
    font-weight:bold;
    margin: 0;
    font-size: 15px;
    text-align: center;
    font-style: italic;
}

#card-efect{
    position: relative;
    width: 50%;
}

#card-efect:hover .overlay {
    opacity: 0.75;
}
#text-efect {
    color: white;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #28414d;
}

#fundo-card{
    background-color: #22323a;
    padding: 54px;
}

.mais, .veja-mais {
    font-weight: bold;
    color: #384d57;
    text-align: center;
}

/*Fale Conosco*/

.fundo-fale-conosco{
    background-image: url('../Assets/img/10.png');
}

.alinhaEtiqueta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Section footer*/
footer{
    padding-top: 3%;
    padding-bottom: 3%; 
}
.footer{
    background-color: #0e181d;
}
.icon{
    color: #586f7a;
    border-radius: 5%;
}
.icones{
    font-size: 2.75rem; 
}

.icon:hover{
    color:#00cf65;
    transition: 0.5s;
}

#icon{
    border-radius: 4%; 
}

.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-visite{
    text-transform: uppercase;
    font-weight: bold;
    color:#00cf65;
}
.footer-endereco{
    color:  #556b76;
    width: 0.625rem;   
}

.footer  img{
    width: 2.5rem; 
}

@media (max-width: 1040px) {
    .linha-lateral {
        max-width: 15vw;
    }
    
    .startup {
        flex-direction: column-reverse;
    }
    
    .startup-img {
        margin-right: auto;
        width: 100%;
    }
    
    .startup-img img {
        width: 100%;
        max-width: 56.25rem;
    }
    
    .startup-conteudo {
        width: 100%;
        text-align: right;
    }
    
    .startup-texto, .startup-itens {
        margin:  1.25rem auto 0.625rem auto;
    } 
    
    .inovacao-icones img {
        max-width: 8vw;
    }
}

@media (max-width: 700px) {
    .inovacao-icones img {
        max-width: 10vw;
    }
}

@media (max-width: 632px) {
    .mindset-texto--transparente {
        line-height: 2.813rem;
    }
}

@media (max-width: 550px) {
    .diagrama-img{
        width: 12.5rem;
    }
    .inovacao p {
        line-height: 2.813rem;
    }
    .inovacao-icones img {
        max-width: 12vw;
    }
    
    .inovacao-texto--branco, .inovacao-texto--transparante, .mindset-texto--branco, .mindset-texto--transparente, #parceiro-transparente, #equipe-s{
        font-size: 2rem;
    }

    .display{
        flex-direction: column; 
    }
    .icones{
        margin-top:2%;
    }

    .textos{
        text-align: center;
    }

    .textos-beneficios{
        text-align: center; 
        width: 100%;
    }
    #ecossistemaTransparente{
        font-size:37px;
    }

    #fundo-card{
        padding: 15px;
    }

}

@media(max-width: 420px){
    .card{
        width: 100%; 
        margin-bottom: 9%;
    }
}

@media(max-width: 720px){
    .card{
        width: 100%; 
        margin-bottom: 9%;
    }
}

